<div>
  <app-hero
  title="Public Events Hosted by the Yale School of the Art"
  description="Welcome to the School of Art’s public events calendar, initiated in the summer of 2020. To stay updated on new events as they’re confirmed, all members of the public are invited to subscribe this calendar to their own calendaring software by clicking the “Subscribe” button below."
  heroUrl="https://cdn.filestackcontent.com/output=format:jpg/HuJdnyYUS8DO2B4EG7pR"
  cta1="View Our Calendar Listings"
  cta2=""></app-hero>
  <app-happening></app-happening>
</div>