<main>
  <app-video></app-video>
  <app-inverteddescription></app-inverteddescription>
  <div class="mt-10 bg-orange-50">
    <div class="container mx-auto p-4">
      <h2 class="text-3xl font-bold text-center mt-10">Apply To The Yale School of Art</h2>
      <p class="mt-4 text-center text-sm">For information on applications to the MFA program, please click the “Graduate Admission” link below.</p>
      <div class="my-10">
        <app-button className="w-full text-white bg-blue-700" text="Yale College Admissions"></app-button>
        <app-button className="my-4 w-full bg-gray-200 text-gray-70" text="Contact Yale College Undergratuate Admissions Office"></app-button>      
      </div>
    </div>
  </div>
</main>