<nav class="bg-white">
  <div class="container flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="#" class="flex items-center space-x-3">
      <span class="self-center font-semibold whitespace-nowrap">Yale School Of Art</span>
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 pr-0 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden" aria-controls="navbar-default" aria-expanded="false" (click)="toggleNavbar()">
      <span class="sr-only">Open Main Menu</span>
      <svg [ngClass]="showMenu ? 'hidden' : ''" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
      <svg [ngClass]="!showMenu ? 'hidden' : ''" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
          aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </button>
    <div [ngClass]="showMenu ? 'flex' : 'hidden'" class="w-full md:block md:w-auto" id="navbar-default">
      <ul class="w-full font-light text-xs flex flex-col p-4 md:p-0 mt-4 border rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white">
        <li>
          <a href="" routerLink="/" [ngClass]="{
            'text-blue-700 md:hover:text-gray-900': hasRoute('/'),
            'text-gray-900 md:hover:text-blue-700': !hasRoute('/')
          }" class="block py-2 px-3 rounded md:bg-transparent md:p-0 ">Home</a>
        </li>
        <li>
          <a href="about" routerLink="about" [ngClass]="{
            'text-blue-700 md:hover:text-gray-900': hasRoute('/about'),
            'text-gray-900 md:hover:text-blue-700': !hasRoute('/about')
          }" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">About</a>
        </li>
        <li>
          <a href="apply" routerLink="apply" [ngClass]="{
            'text-blue-700 md:hover:text-gray-900': hasRoute('/apply'),
            'text-gray-900 md:hover:text-blue-700': !hasRoute('/apply')
          }" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Apply</a>
        </li>
        <li>
          <a href="exhibitions" routerLink="exhibitions" [ngClass]="{
            'text-blue-700 md:hover:text-gray-900': hasRoute('/exhibitions'),
            'text-gray-900 md:hover:text-blue-700': !hasRoute('/exhibitions')
          }" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Exhibitions</a>
        </li>
        <li>
          <a href="publications" routerLink="publications" [ngClass]="{
            'text-blue-700 md:hover:text-gray-900': hasRoute('/publications'),
            'text-gray-900 md:hover:text-blue-700': !hasRoute('/publications')
          }" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Publications</a>
        </li>
        <li>
          <a href="news" routerLink="news" [ngClass]="{
          'text-blue-700 md:hover:text-gray-900': hasRoute('/news'),
          'text-gray-900 md:hover:text-blue-700': !hasRoute('/news')
        }" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">News</a>
        </li>
        <li>
          <a href="events" routerLink="events" [ngClass]="{
          'text-blue-700 md:hover:text-gray-900': hasRoute('/events'),
          'text-gray-900 md:hover:text-blue-700': !hasRoute('/events')
        }" class="block py-2 px-3 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Events</a>
        </li>
      </ul>
    </div>
  </div>
</nav>